.card {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/card-bg.jpg");
  background-position: right;
  word-wrap: break-word;
  -moz-hyphens: auto;
}

.card-sub span {
  font-size: 18px;
  margin-right: 10px;
}

.card-content p {
  padding-top: 15px;
}

.card .card-action a{
	transition: .3s ease-out;
}

.card .card-action a:hover{
	color: #ffffff !important;
}

.card img.octicons {
  display: inline-block;
  vertical-align: text-top;
}
