.Nav {
  overflow: hidden;
}

.Nav button {
  border: 0;
}

.Nav svg {
  height:32px;
  width: 32px;
  margin-top: 12px;
  fill: rgba(255, 255, 255, .75);
  -webkit-transition: fill 0.5s ease-in-out; /* Safari */
  transition: fill 0.5s ease-in-out;
}

.Nav svg:hover {
  fill: rgba(255, 255, 255, 1);
}

.Nav #refresh {
  padding: 0;
}

.Nav #refresh svg {
  margin: 12px;
}

@-webkit-keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
.rotate {
  -webkit-animation: rotate 2s ease-in-out;
  -moz-animation: rotate 2s ease-in-out;
  -ms-animation: rotate 2s ease-in-out;
  -o-animation: rotate 2s ease-in-out;
  animation: rotate 2s ease-in-out;
}
