.Nav button{
  color: rgba(255, 255, 255, .75);
  -webkit-transition: color 0.5s ease-in-out; /* Safari */
  transition: color 0.5s ease-in-out;
  border: 0;
  max-height: 54px;
}

.Nav button:hover{
  color: rgba(255, 255, 255, 1);
}


.Nav svg{
  height:32px;
  width: 32px;
  margin-top: 12px;
  fill: rgba(255, 255, 255, .75);
  -webkit-transition: fill 0.5s ease-in-out; /* Safari */
  transition: fill 0.5s ease-in-out;
}

.Nav svg:hover{
  fill: rgba(255, 255, 255, 1);
}
